<!DOCTYPE html>
<html>
<head>
    {{> head}}
    <title></title>
</head>
<body data-spy="scroll" data-target=".navbar">
{{> navbar}}

    <div class="container">
        {{{ yield }}}
        {{> upload }}
    </div>
<div class="center-block" id="myfirstchart"  style="height: 20%; width: 20%"></div>
<p class="text-center" id="description"></p>
<div id="buttons" hidden="hidden">
    <button class="center-block btn btn-success btn-large"> Create Model</button>
    <button class="center-block btn btn-danger btn-large"> Make new csv</button>
</div>

{{> register}}
{{> scripts}}
{{> graphs}}
</body>
</html>